.credits-row{
    width: auto;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    color: #0038FF;
    font-family: "BNRomaineRegular";
}

.bigger-credit {
    font-size: 10vw;
    line-height: 11vw;
}

.small-credit {
    font-size: 3vw;
    line-height: 4vw;
}