.credits-row{
    width: auto;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    color: #0038FF;
    font-family: "BNRomaineRegular";
    padding: 5% 5%;
}

.big-credit {
    font-size: 35px;
    line-height: 40px;
}

.small-credit {
    font-size: 23px;
    line-height: 28px;
}

a {
    color: #0038FF!important; 
}