.button-unit {
    width: 20vw;
    height: auto;
    visibility: visible;
    position: absolute;
    width: 10vw;
    height: 6vw;
    z-index: 2;
    top: 15vw;
    right: 52vw;
}

.button-image {
    width: 20vw;
    height: auto;
}

.button-text {
    position: absolute;
    text-align: center;
    width: 20vw;
    top: 2vw;
    padding: 6vw 5vw;
    color: white;
    z-index: 5;
    font-family: "MayenneSans-Regular";
    color: #0038FF;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 2.1vw;
    text-align: center;
    text-transform: uppercase;
}
