.credits-row{
    width: auto;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    color: #0038FF;
    font-family: "BNRomaineRegular";
    text-transform: capitalize;
    padding: 5% 5%;
}

.bigger-credit {
    font-size: 3.5vw;
    line-height: 3.6vw;
}

.small-credit {
    font-size: 2vw;
    line-height: 2.1vw;
}
