.next-button-unit {
    width: 6vw;
    height: 6vw;
    visibility: visible;
    position: relative;
    z-index: 2;
    top: -40vw;
    right: -80vw;
    display: block;
}

.next-button-image {
    width: 6vw;
    height: auto;
}

.next-button-text {
    position: absolute;
    text-align: center;
    width: 5vw;
    top: 2.1vw;
    left: 0.5vw;
    padding: 0.01vw 0.01vw;
    color: white;
    z-index: 5;
    font-family: "MayenneSans-Regular";
    color: #0038FF;
    font-style: normal;
    font-weight: 700;
    font-size: 0.85vw;
    line-height: 1vw;
    text-align: center;
    text-transform: uppercase;
}
