.video-row {
    width: auto;
    position: relative;
    margin-top: -15px;
  }

.video-react-icon-play-arrow:before, .video-react .video-react-bezel .video-react-bezel-icon-play:before, .video-react .video-react-play-control:before, .video-react .video-react-big-play-button:before {
    visibility: hidden!important;
}

.video-react:hover .video-react-big-play-button, .video-react .video-react-big-play-button:focus {
  visibility: hidden!important;
}

.video-react .video-react-control:before, .video-react .video-react-big-play-button:before {
  visibility: hidden!important;
}

.video-react .video-react-big-play-button {
  visibility: hidden!important;
}

.shuffle-button {
  visibility:hidden;
}

video {
  width: 100%;
  position: relative;
  background-color: #000;
  visibility: visible;
}

.poster-image {
  width: 100%;
  height: 50vw;
  opacity: 0.1;
  z-index: 1;
}