.d-inline-block {
    position: absolute;
    z-index: 1;
    left: 2vw;
    top: 50.5vw;
}

#tooltip-disabled .tooltip-inner {
    background-color: #0038FF;
    width: 80%;
    margin-left: 10vw;
    font-family: "BNRomaineRegular";
    font-size: 1.5vw;
    line-height: 1.5vw;
    z-index: 1;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #000!important;
    text-align: center;
    background-color:#fff!important;
    border-color: #fff!important;
    border-radius: 5.2vw!important;
    padding: 0.2vw 1vw!important;
}

.btn.disabled, .btn:disabled {
    opacity: 1;
}

.tooltip .arrow::before {
    visibility: hidden!important;
}

.button-class {
    font-size: 1vw;
}