.d-inline-block {
    position: absolute;
    z-index: 3;
    left: 5vw;
    top: 45vw;
}

#tooltip-disabled .tooltip-inner {
    background-color: #0038FF;
    width: 25vw;
    margin-left: 4vw;
    font-family: "BNRomaineRegular";
    font-size: 1.5vw;
    line-height: 1.5vw;
    z-index: 4;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff!important;
    text-align: center;
    background-color:#000!important;
    border-color: #000!important;
    border-radius: 5.2vw!important;
    padding: 0.4vw 1vw!important;
}

.btn.disabled, .btn:disabled {
    opacity: 1;
}

.tooltip .arrow::before {
    visibility: hidden!important;
}

.d-inline-block > .button-class {
    font-size: 1vw;
}