
  .header-row {
    margin: 0%;
    padding: 0.15rem;
    background: linear-gradient(180deg, #DBFF00 0%, #9BCFFF 49.48%, #FF975C 100%);  
    width: auto;
  }

  .header-text {
    font-family: "BNRomaineRegular";
    text-transform: uppercase;
    font-size: 28px;
    line-height: 27px;
    color: #0038FF;
  }

  .gNeMwR {
    border: 0;
  }
