  .header-row {
    margin: 0%;
    background: linear-gradient(180deg, #F0FF92 0%, #9BCFFF 49.48%, #F4E7D7 100%); 
    width: 105%;
  }

  .header-text {
    font-family: "BNRomaineRegular";
    text-transform: uppercase;
    font-size: 28px;
    line-height: 27px;
    color: #0038FF;
  }

  .gNeMwR {
    border: 0;
  }
