  .header-row {
    margin: 0;
    background: linear-gradient(180deg, #F0FF92 0%, #9BCFFF 49.48%, #F4E7D7 100%); 
  }

  .header-text {
    font-family: "BNRomaineRegular";
    text-transform: uppercase;
    font-size: 28px;
    line-height: 27px;
    color: #0038FF;
  }

  .gNeMwR {
    border: 0;
  }
/* Safari 10.1+ */

@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) and (stroke-color:transparent) { 
    .header-row { 
      margin: 0 -2%;
    } 
  } 
}